{% extends 'base.html' %}
{% load static %}

{% block staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?
        family=Inter:ital,opsz,wght@0,14..32,700;1,14..32,700&
        family=Outfit:wght@100..900&display=swap" rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'main/favorites.css' %}">
{% endblock %}

{% block content %}
    <header>
        <div class = "wrapper">
            <nav>
                
            </nav>
        </div>
    </header>
{% endblock %}