{% extends 'base.html' %}
{% load static %}

{% block staticfiles %}
    <script src="https://cdn.tailwindcss.com"></script>
{% endblock %}

{% block content %}
    {% include 'components/navbar-transparent.html' %}
    <div class="w-full flex flex-col px-6 gap-6 pb-6">

        <h2 class="text-5xl text-center mt-5">Saved Restaurants</h2>
    
        <!-- Restaurant Cards Grid -->
        <div class="grid grid-cols-4 gap-6 mt-6">
            {% for restaurant in favorites %}
                {% include 'components/restaurant_card.html' with restaurant_id=restaurant.place_id restaurant_name=restaurant.name restaurant_image_url=restaurant.image_url restaurant_rating=restaurant.rating restaurant_reviews=restaurant.reviews %}
            {% endfor %}
        </div>
    </div>
{% endblock %}