{% extends 'base.html' %}
{% load static %}

{% block staticfiles %}
<link rel="stylesheet" href="{% static 'restaurants.css' %}">
{% endblock %}

{% block content %}

<body>
    {% include 'components/navbar.html' %}
    <h1>Restaurants</h1>
    {% include 'components/search_bar.html' %}

    <div class="filter-wrapper">
        <div class="filter-item">
            <label for="rating-filter">Ratings:</label>
            <select id="rating-filter" onchange="filterRestaurants()">
                <option value="0">0+</option>
                <option value="1">1+</option>
                <option value="2">2+</option>
                <option value="3">3+</option>
                <option value="4">4+</option>
                <option value="5">5</option>
            </select>
        </div>
        
        <div class="filter-item">
            <label for="distance-filter">Distance Range:</label>
            <select id="distance-filter" onchange="filterRestaurants()">
                <option value="9999">All</option>
                <option value="1">
                    1 mile</option>
                <option value="5">
                    5 miles</option>
                <option value="10">
                    10 miles</option>
                <option value="25">
                    25 miles</option>
                <option value="50">
                    50 miles</option>
            </select>
        </div>
        
    </div>

    <div class="content-wrapper">
        <div class="restaurant-list-wrapper">
            <h2>'{{ query }}'</h2>
            <div class="restaurant-list" id="restaurant-list">
                {% for restaurant in restaurants %}
                <div class="restaurant-card-wrapper" data-image="{{ restaurant.image_url }}" data-rating="{{ restaurant.rating }}" data-latitude="{{ restaurant.latitude }}" data-longitude="{{ restaurant.longitude }}" data-distance="{{ restaurant.distance }}" data-placeID="{{ restaurant.place_id }}" data-name="{{ restaurant.name }}"
                    data-longitude="{{ restaurant.longitude }}">
                    {% include 'components/restaurant_card.html' with restaurant_id=restaurant.place_id restaurant_name=restaurant.name restaurant_image_url=restaurant.image_url restaurant_rating=restaurant.rating restaurant_reviews=restaurant.reviews restaurant_distance=restaurant.distance%}
                </div>
                {% endfor %}
            </div>
            {% if not restaurants %}
            <p>No restaurants found for "{{ query }}".</p>
            {% endif %}
        </div>
    
        <div class="map-container" id="map" style="height: 100%;">

        </div>
    </div>
</body>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const query = urlParams.get('query') || 'restaurants';
    const userLatitude = urlParams.get('user_latitude');
    const userLongitude = urlParams.get('user_longitude');

    let locationFetched = localStorage.getItem('locationFetched') === 'true';

    window.onload = function () {
        if (!userLatitude || !userLongitude) {
            getUserLocation();
        } else {
            displayContent();
        }
        initAutocomplete();
        initMap();
    };

    function filterRestaurants() {
        const ratingFilter = document.getElementById('rating-filter').value;
        const distanceFilter = document.getElementById('distance-filter').value;
        const restaurantCards = document.querySelectorAll('.restaurant-card-wrapper');
        
        restaurantCards.forEach(card => {
            const rating = parseFloat(card.getAttribute('data-rating'));
            const distanceString = card.getAttribute('data-distance');
            const distance = parseFloat(distanceString.replace(' mi', ''));

            if (rating >= ratingFilter && distance <= distanceFilter) {
                card.style.display = 'block';
            } else {
                card.style.display = 'none';
            }
        });
    }

    function getUserLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                const userLatitude = position.coords.latitude;
                const userLongitude = position.coords.longitude;

                localStorage.setItem('locationFetched', 'true');

                // Redirect to the restaurants page with user's location and original query
                window.location.href = `/restaurants/?query=${encodeURIComponent(query)}&user_latitude=${userLatitude}&user_longitude=${userLongitude}`;
            }, function (error) {
                console.error("Geolocation error: " + error.message);
                // Mark as fetched even if there's an error
                localStorage.setItem('locationFetched', 'true');
            });
        } else {
            console.error("Geolocation is not supported by this browser.");
            // Still mark as fetched even if unsupported
            localStorage.setItem('locationFetched', 'true');
        }
    }

    function displayContent() {
        console.log("Displaying content for query:", query);
    }
            
    let map;
    function initMap() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(position => {
                const userLocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                // Create the map centered on the user's location
                map = new google.maps.Map(document.getElementById('map'), {
                    center: userLocation,
                    zoom: 10
                });

                // Add a marker for the user's location
                const userMarker = new google.maps.Marker({
                    position: userLocation,
                    map: map,
                    icon: {
                        url: '/static/main/images/you_are_here_icon.png',
                        scaledSize: new google.maps.Size(60, 60)
                    },
                    title: 'You are here!'
                });

                const userInfoWindow = new google.maps.InfoWindow({
                    content: `<div style="color: black; font-weight: bold;">You Are Here!</div>`
                });

                userMarker.addListener('mouseover', () => {
                    userInfoWindow.close();
                    userInfoWindow.open(map, userMarker);
                });

                userMarker.addListener('mouseout', () => {
                    userInfoWindow.close();
                });

                // Adds markers for restaurants
                const restaurantCards = document.querySelectorAll('.restaurant-card-wrapper');

                restaurantCards.forEach(card => {
                    const latitude = parseFloat(card.getAttribute('data-latitude'));
                    const longitude = parseFloat(card.getAttribute('data-longitude'));
                    const restaurantName = card.getAttribute('data-name');
                    const restaurantImage = card.getAttribute('data-image')

                    if (!isNaN(latitude) && !isNaN(longitude)) {
                        const marker = new google.maps.Marker({
                            position: { lat: latitude, lng: longitude },
                            map: map,
                            title: restaurantName
                        });

                        const infoWindow = new google.maps.InfoWindow({
                            content: `
                            <div style="color: black; font-weight: bold; max-width: 200px; max-height: 500px; text-align: center;">
                                <p>${restaurantName}</p>
                                <img src="${restaurantImage}" alt="${restaurantName}" style="max-height: 300px; max-width: 100%; height: auto; width: auto; object-fit: cover; margin-bottom: 10px;">
                            </div>
                        `
                        });

                        marker.addListener('mouseover', () => {
                            infoWindow.close();
                            infoWindow.open(map, marker);
                        });

                        marker.addListener('mouseout', () => {
                            infoWindow.close();
                        });
                    } else {
                        console.warn(`Invalid coordinates for restaurant: ${restaurantName}`);
                    }
                });
            }, () => {
                // Handle error if location is not available
                handleLocationError(true, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, map.getCenter());
        }
    }


    function handleLocationError(browserHasGeolocation, pos) {
        alert(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
    // Optionally, set map to a default location (GT, Atlanta)
    map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 33.7756, lng: -84.3963 }, zoom: 10
    });
    }
</script>


{% endblock %}