{% extends 'base.html' %}
{% load static %}

{% block staticfiles %}
<link rel="stylesheet" href="{% static 'restaurants.css' %}">
{% endblock %}

{% block content %}

<body>
    <h1>Restaurants</h1>
    {% include 'components/search_bar.html' %}

    <div class="filter-wrapper">
        <label for="rating-filter">Ratings:</label>
        <select id="rating-filter" onchange="filterRestaurants()">
            <option value="0">0+</option>
            <option value="1">1+</option>
            <option value="2">2+</option>
            <option value="3">3+</option>
            <option value="4">4+</option>
            <option value="5">5</option>
        </select>
    </div>

    <div class="content-wrapper">
        <div class="restaurant-list-wrapper">
            <h2>'{{ query }}'</h2>
            <div class="restaurant-list" id="restaurant-list">
                {% for restaurant in restaurants %}
                <div class="restaurant-card-wrapper" data-rating="{{ restaurant.rating }}">
                    {% include 'components/restaurant_card.html' with restaurant_name=restaurant.name restaurant_image_url=restaurant.image_url restaurant_rating=restaurant.rating restaurant_reviews=restaurant.reviews restaurant_id=restaurant.place_id %}
                </div>
                {% endfor %}
            </div>
            {% if not restaurants %}
            <p>No restaurants found for "{{ query }}".</p>
            {% endif %}
        </div>

        <div class="map-container">
            <!-- Map will be displayed here -->
        </div>
    </div>

    <script>
        function filterRestaurants() {
            const filterValue = parseInt(document.getElementById('rating-filter').value);
            const restaurantCards = document.querySelectorAll('.restaurant-card-wrapper');

            restaurantCards.forEach(card => {
                const restaurantRating = parseInt(card.getAttribute('data-rating'));
                if (restaurantRating >= filterValue) {
                    card.style.display = 'block'; // Show card
                } else {
                    card.style.display = 'none'; // Hide card
                }
            });
        }
    </script>

</body>

{% endblock %}