{% if request.user.is_authenticated %}
<div class="wrapper" id="navbar">
    <nav>
        <a class="logo" href="/">foodr.</a>
        <ul class="nav-links">
            <li><a class="active" href="{% url 'restaurants' %}">Map</a></li>

            <li><a class="active" href="{% url 'signin' %}">Saved</a></li>
        </ul>
        <ul class="nav-buttons">
            <li><a class="active button" href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
</div>
{% else %}
<div class="wrapper" id="navbar">
    <nav>
        <a class="logo" href="/">foodr.</a>
        <ul class="nav-links">

            <li><a class="active" href="{% url 'signin' %}">Map</a></li>
        </ul>
        <ul class="nav-buttons">
            <li><a class="active button" href="{% url 'signup' %}">Sign Up</a></li>

            <li><a class="active button" href="{% url 'signin' %}">Login</a></li>
        </ul>
    </nav>
</div>
{% endif %}


<style>
    :root {
    --light-blue-color: #09A2C1;
    --white-color: #FFFFFF;
    --dark-blue-color: #2F3C4B;
    --light-gray-color: #E9E9E9;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.button {
    padding: 10px 30px;
    border-radius: .5rem;
    color: white;
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    background: var(--light-blue-color);
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav .logo {
    color: var(--light-blue-color);
    font-family: "Outfit", sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-right: 50px;
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
}

.nav-links {
    gap: 60px;
    margin-right: auto;
}

.nav-buttons {
    gap: 20px;
    margin-left: auto;
}

nav ul li a {
    color: var(--dark-blue-color);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

/* nav ul li a.active {
    color: var(--light-blue-color);
} */
</style>