{% extends 'base.html' %}
{% load static %}

{% block staticfiles %}
    <link rel="stylesheet" href="{% static 'users/signup.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
{% endblock %}

{% block content %}
<div class="w-full min-h-screen grid place-items-center">
    <form method="post" class="rounded-lg center-shadow p-8 w-full max-w-[28rem] flex flex-col gap-4">
        {% csrf_token %}
        <h1 class="text-center text-2xl font-semibold">Sign In</h1>
        {% if error %}
            <p class="bg-red-400 text-red-600 rounded-md p-4 text-center">{{error}}</p>
        {% endif %}
        <!-- Username -->
        <div class="flex flex-col gap-2">
            <label for="username" class="font-medium">Username <span class="text-red-400">*</span></label>
            <input type="text" 
                placeholder="Enter username" 
                id="username" 
                name="username"
                class="outline-none rounded-md border-[1px] border-stroke-gray p-2 px-4"
                required>
            
        </div>

        <!-- Password -->
        <div class="flex flex-col gap-2">
            <label for="password" class="font-medium">Password <span class="text-red-400">*</span></label>
            <input type="password" 
                placeholder="Enter password" 
                id="password" 
                name="password"
                class="outline-none rounded-md border-[1px] border-stroke-gray p-2 px-4"
                required>
        </div>

        <button type="submit" class="bg-primary-blue text-lg text-white p-2 font-medium rounded-md transition-all hover:scale-105 active:scale-95">Log in</button>
        <a href="/signup" class="text-center">Don't have an account? <span class="text-primary-blue">Sign up here.</span></a>
    </form>
</div>

{% endblock %}