h3 {
    color: #000;
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #2F3C4B;
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
}

img {
    width: 100%;
}

.column {
    float:left;
    width: 33%;
    padding: 0 10px;
}

.row:after {
    content: "";
    display: table;
    clear:both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}